.pop{
    z-index: 2;
}

.item1{
    position:absolute;
    left:6%;
    bottom: 20%;

}

.item2{
    position:absolute;
    left:26%;
    bottom: 40%;
}

.item3{
    position:absolute;
    left: 19%;
    bottom: 23%;
}

.item4{
    position:absolute;
    left: 39%;
    bottom: 56%;
}

.item5{
    position:absolute;
    left: 57%;
    bottom: 35%;
}

.item6{
    position: absolute;
    left: 74%;
    bottom: 30%;
}

.item7{
    position: absolute;
    left: 44%;
    bottom: 37%;
}

