.wish {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 50%;
  left: 32%;
  top: -10%;
  filter: brightness(1.5);
}

.wish div {
  margin: 2px;
  padding: 2px;
}

.diwali {
  height: fit-content;
  z-index: 5;
}

.diya1,.diya2 {
  height: 10vh;
  z-index: 5;
}

@media screen and (max-width: 830px) {
  .wish {
    width: fit-content;
    top: 0%;
    left: 0;
    padding: 10px;
  }
  .diya1,
  .diya2 {
    width: 16vw;
    
  }
  .wish div {
    margin: 0;
    padding: 0;
  }
  .diwali{
    height: 35rem;
    width: initial;
  }
  .wish{
    top:-1%;
  }
}
