.diwali{
    position: absolute;
    right: 13%;
    bottom: 52%;
    z-index: 5;
}

.diya1{
    position: absolute;
    right: 10%;
    bottom: 77%;
    z-index: 5;
}

.diya2{
    position: absolute;
    right: 46%;
    bottom: 77%;
    z-index: 5;
}