.rangoli-side-left{
    filter: brightness(0.9);
    height: 80vh; 
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    z-index: 100;
    top: 10vh;
}

.rangoli-side-right{
    filter: brightness(0.9);
    height: 80vh; 
    position: absolute;
    right: 0;
    transform: translateX(50%);
    top: 10vh;
    z-index: 100;
}

@media screen and (max-width: 830px) {
    .rangoli-side-left{
        top:-40%;
        
    }
    .rangoli-side-right{
        top:-40%;
    }
}